<!-- Launch file for the simulator core /-->

<launch>

	<!-- Available arguments -->
	<arg name="manualMode" default="true"/>	<!-- Connect model input with joystick -->
	<arg name="autoMode"/>	<!-- Connect model input with a controller node -->
	<arg name="uav_name"/>	<!-- uav_name parameter which selects aircraft data file -->
	<arg name="ArduPlane"/> <!-- Let APM:SITL produce the control input -->

	<!-- External optional arguments -->

	<!-- First UAV Group -->
	<group ns="$(arg uav_name)">

		<!-- Raising controller nodes -->
		<group if="$(arg autoMode)">
			<rosparam command="load" file="$(find last_letter)data/parameters/controllers/controller_HCUAV.yaml" />
			<node pkg="last_letter" name="Autopilot" type="autopilot_HCUAV" output="screen"/>
		</group>

		<!-- Input nodes -->
		<group if="$(arg manualMode)">
			<group unless="$(arg ArduPlane)">
	<!--		<node pkg="last_letter" name="virtualJoy" type="virtualJoy" output="screen" />-->
				<rosparam command="load" file="$(env HOME)/last_letter_models/HID.yaml" />
				<node pkg="joy" type="joy_node" name="joystick" output="screen" >
					<param name="dev" value="/dev/input/js0" />
					<param name="deadzone" value="0.01" />
				</node>
				<node pkg="last_letter" name="joy2chan" type="joy2chan" output="screen" >
					<remap from="rawPWM" to="ctrlPWM"/>
				</node>
			</group>
		</group>

	</group>

</launch>
