<!-- Top-Level launch file for bundled launching /-->
<!--Simulation launcher for the HCAUV aircraft-->

<launch>
	<arg name="manualMode" default="false"/>
	<arg name="autoMode" default="false"/>
	<arg name="ArduPlane" default="false"/>
	<arg name="uav_name" default="fw1"/>

	<!-- Launch the simulator /-->
	<include file="$(find last_letter)/launch/sim_HCUAV.launch" >
		<arg name="manualMode" value="$(arg manualMode)"/>
		<arg name="autoMode" value="$(arg autoMode)"/>
		<arg name="uav_name" value="$(arg uav_name)"/>
	</include>

	<!-- ArduPlane SITL connection -->
	<group if="$(arg ArduPlane)" ns="$(arg uav_name)">
		<node pkg="last_letter" type="fdmUDPSend.py" name="fdmUDPSend" />
		<node pkg="last_letter" type="fdmUDPReceive.py" name="fdmUDPReceive" />
	</group>

	<!-- Launch the visualizers /-->
	<include file="$(find last_letter)/launch/visualization.launch" >
		<arg name="uav_name" value="$(arg uav_name)" />
	</include>

</launch>