<!-- Launch file for the visualization modules /-->

<launch>

	<arg name="clockSim" value="false"/>	<!-- Choose Reatime/Simulated clock /-->

	<!-- Initialization of the parameters -->
	<param if="$(arg clockSim)" name="use_sim_time" type="bool" value="true" />

	<!-- Initialization of the parameters -->
	<group>
		<param name="robot_description" command="cat $(find last_letter)urdf/skywalker.urdf" />
	</group>

	<!-- Plotting nodes -->
	<!--node pkg="rqt_console" name="debugger" type="rqt_console" /-->
	<!-- node pkg="rqt_plot" type="rqt_plot" name="plot_states" args="/sim/states/pose/pose/position/z" /-->
	<!--node pkg="rqt_plot" type="rqt_plot" name="plot_states" args="/sim/wrenchStamped/wrench/force/x" /-->
	<!--node pkg="rqt_plot" type="rqt_plot" name="plot_euler" args="/sim/euler/y,/sim/states/twist/twist/linear/x" /-->
	<!--node pkg="rqt_plot" type="rqt_plot" name="plot_euler" args="/sim/euler/x,/sim/euler/y,/sim/euler/z" /-->
	<node pkg="rviz" type="rviz" name="rviz" /> <!-- args="-d $(find uav_model)/assets/visOptions.vcg/-->"
	<node pkg="rqt_dashboard" type="dash_backend" name="dash_backend" ns="fw1" output="screen" />
	<node pkg="rqt_gui" type="rqt_gui" name="Dashboard" args="--perspective-file $(find rqt_dashboard)/UAV_dashboard.perspective" />

</launch>
