<library path="src">
  <class name="Dashboard" type="rqt_dashboard.dashboard.Dashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      Dashboard for UAV missions supervision
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
      </group>
      <!-- optional grouping...
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Dashboard</label>
      <icon type="theme">appointment-soon</icon>
      <statustip>Functional?</statustip>
    </qtgui>
  </class>
</library>
