<!-- Launch file for the simulator core /-->

<launch>

	<arg name="clockSim" value="false"/>	<!-- Choose Reatime/Simulated clock /-->

	<!-- Initialization of the parameters -->
	<group>	
		<param if="$(arg clockSim)" name="use_sim_time" type="bool" value="true" />
		<node pkg="last_letter" name="parameters" type="AerosondeParameters.py" />
	</group>

	<!-- Initialization of the services -->
	<group>
	</group>
	
	<!-- Raising core nodes -->
	<group>
		<node pkg="rosbag" name="recorder" type="record" args="-O UAV_recording.bag /sim/states /sim/wrenchStamped /sim/input"/>
		<node if="$(arg clockSim)" name="clock" pkg="last_letter" type="clock.py" />
		<node pkg="last_letter" name="plane_model" type="model" output="screen"/>
		<node pkg="last_letter" name="euler_translator" type="quat2euler" />
	</group>

	<!-- Transformations broadcaster -->
	<group>
		<node pkg="last_letter" type="plane_publisher" name="broadcaster" />
	</group>

	<!-- Input nodes -->
	<group>
		<node pkg="joy" type="joy_node" name="joystick" output="screen" >
			<param name="dev" value="/dev/input/js0" />
		</node>
		<node pkg="last_letter" name="joy2chan" type="joy2chan" />
	</group>
	
</launch>
